# build artifacts
MarginSymbols.sketchplugin/Contents/Sketch
MarginSymbols.sketchplugin/Contents/Resources/_webpack_resources

# npm
node_modules
.npm
npm-debug.log

# mac
.DS_Store

# WebStorm
.idea
/MarginSymbols.sketchplugin
